@import "tailwindcss";

@theme {
  --color-primary: #0088cc;
  --color-gray1: #eeeeee;
  --color-gray2: #979797;
  --color-gray3: #666666;
  --color-mur: #d503ff;
  --color-dnd: #91431a;
  --color-guest_in: #fe3f80;
  --color-guest_out: #7768ff;
  --color-check_in: #9bd95a;
  --color-check_out: #ff9756;
  --color-dirty: #ff5555;
  --color-clean: #5fc2f3;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-300 rounded-md;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-md;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 rounded-md;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.5rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 0.125rem;
  cursor: pointer;
  border: none;
  box-shadow: none;
  position: relative;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 0.5rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 0.125rem;
  cursor: pointer;
  border: none;
  box-shadow: none;
}

input.range-thumb-gray::-webkit-slider-thumb {
  background-color: #d1d5db;
}
input.range-thumb-gray::-moz-range-thumb {
  background-color: #d1d5db;
}

input.range-thumb-orange::-webkit-slider-thumb {
  background-color: #ff8904;
}
input.range-thumb-orange::-moz-range-thumb {
  background-color: #ff8904;
}

input.range-thumb-blue::-webkit-slider-thumb {
  background-color: #51a2ff;
}
input.range-thumb-blue::-moz-range-thumb {
  background-color: #51a2ff;
}

.range-container {
  position: relative;
}

.thumb-indicator {
  position: absolute;
  top: -1rem;
  transform: translateX(-50%);
  color: #6a7282;
  font-size: 0.75rem;
  font-weight: bold;
}

input.range-basic {
  @apply w-full appearance-none bg-transparent focus:outline-none;
  height: 1rem;
}

input.range-basic::-webkit-slider-runnable-track {
  height: 0.5rem;
  background: #fcd34d;
  background: linear-gradient(
    90deg,
    rgba(252, 211, 77, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(103, 232, 249, 0.7) 100%
  );
  border-radius: 0.25rem;
}
input.range-basic::-moz-range-track {
  height: 0.5rem;
  background: #fcd34d;
  background: linear-gradient(
    90deg,
    rgba(252, 211, 77, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(103, 232, 249, 0.7) 100%
  );
  border-radius: 0.25rem;
}

input.range-basic::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
  margin-top: -0.25rem;
  box-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.322);
}

input.range-basic::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
  margin-top: -0.25rem;
}
